<html>
<head>
      <title>Title</title>
      <meta charSet="UTF-8"/>
      <style type="text/css">
        .reg {
              color: red;
           }
      </style>
</head>
<body>
<form>
      <p id="title">注册页面</p>
     用户名：<input type="text" name="username" class="reg">*
      <br/>
     密码：<input type="password" name="password">*
      <br/>
     选择城市：
      <select name="city">
        <option value="1">北京</option>
        <option value="2" selected>上海</option>
        <option value="3">广州</option>
      </select>
      <br/>
      <input type="checkbox" name="vehicle" value="Bike">我想买房
      <br>
      <input type="checkbox" name="vehicle" value="Car">我想买车
      <br/>
      <input type="submit" value="注册">
      <input type="button" value="取消">
      <p>*号为必填项</p>
</form>
</body>
</html>