<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <style type="text/css">
            body {background-color: burlywood}
        p {color: blue}
            p {background-color: greenyellow}
            #p0 {background-color: blue; text-align: center; font-size: 50px}
            .p1 {background-color: gray; text-align: right; font-size: 30px}
      </style>
</head>


<body>
<h1>一级标题</h1>
<h2>二级标题</h2>
<h2>三级标题</h2>
<hr/>
<p>这是一个段落</p>
<hr/>
<a href="https://www.baidu.com">百度</a>
<hr/>
<a href="https://www.baidu.com">点击跳转百度</a>

<hr/>
<img src="demo.jpg">
<hr/>


<ul>
    <li>上海</li>
    <li>北京</li>
    <li>湖南</li>
</ul>

<ol>
    <li>上海</li>
    <li>北京</li>
    <li>湖南</li>
</ol>
<p style=" font-family: Arial; font-size: 50px ; text-align: center ">
    这是一个段落
</p>
<p style="color: red ; margin-left: 20px ; ">
    这是第二段落
</p>

<p id="p0">单独样式的段落1</p>
<p class="p1">单独样式的段落2</p>
<p class="p1">单独样式的段落3</p>
<p>我的名字：<h2>北河</h2></p>
</body>

</html>>